@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-download{
      @apply    active:opacity-80
                 text-white font-semibold px-8 py-3 border rounded-full drop-shadow-2xl
    }
    .title-cardB{
      @apply text-[1.5rem] text-[#4c545d] font-semibold py-[0.5rem]
    }
    .paragraph-cardB{
      @apply lg:pr-[14rem]
                text-[#9fabb2]
    }
    .section-cardB{
      @apply lg:mb-0 lg:py-[1rem]
              mb-[2rem] px-4 
    }

    .title-cardC{
      @apply text-[1.5rem] text-[#4c545d] text-center font-semibold pt-[2rem] pb-[1rem]
    }
    .paragraph-cardC{
      @apply  
              text-[#9fabb2] text-center
    }
    .section-cardC{
      @apply lg:mb-0 lg:py-[1rem] lg:w-[380px]
              mb-[3rem] px-4  flex flex-col items-center
    }
    .text-footer{
      @apply  py-[0.8rem] text-[#4c545d]
              lg:py-[0.5rem] 
              active:opacity-50
              hover:cursor-pointer
    }
    .icon-footer{
      @apply  px-[1rem] py-[2rem]
              active:opacity-50
              hover:cursor-pointer
              
    }
    
}






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

:root{

  /*---------------- COLOR ----------------*/
  --c-Strong-Cyan: #26baa4;
  --c-Light-Blue: #6173ff;

  --c-Dark-Grayish-Blue: #4c545d;
  --c-Grayish-Blue: #9fabb2;
  --c-Grayish-Blue: #9fabb217;
  /*---------------- FONT FAMILY ----------------*/
  --ff:'Bai Jamjuree', sans-serif;

    /*---------------- FONT SIZE ----------------*/
  --fs:18px;

    /*---------------- FONT WEIGHT ----------------*/
  --fw-s:400;
  --fw-m:600;

}